#  Local .terraform directories
**/.terraform/*
.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# Consul data directories
**/network_config/*
**/application_config/*

# .hcl files
*.hcl

backend_local.tf
**/*.exe*


# git filter-branch -f --index-filter 'git rm --cached -r --ignore-unmatch .terraform/' This one is for ignoring the Terraform executable files.